.buttons {
    display: flex;
    justify-content: center;
}
button {
    margin-right: 25px;
    background-color: #f5f4fa;
    box-shadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%)
}